@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204, 26.32%, 96.27%;

    --foreground: 208.24, 7.3%, 45.69%;

    --card: 0, 0%, 100%;

    --card-foreground: 216.43, 16.28%, 66.27%;

    --popover: 0, 0%, 100%;

    --popover-foreground: 216.43, 16.28%, 66.27%;

    --primary: 184.12, 98.08%, 40.78%;

    --primary-foreground: 0, 0%, 100%;

    --secondary: 210, 9.09%, 91.37%;

    --secondary-foreground: 210 20% 70%;

    --muted: 210, 9.09%, 91.37%;

    --muted-foreground: 240, 9.52%, 32.94%;

    --accent: 184, 98%, 41%, 0.1;

    --accent-foreground: 184.12, 98.08%, 40.78%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 210, 9.09%, 91.37%;

    --secondary-foreground: 210 20% 70%;

    --input: 210, 9.09%, 91.37%;

    --ring: 184, 98%, 41%, 0.1;
  }
  .dark {
    --background: 231.43, 12.73%, 10.78%;

    --foreground: 210 12% 58%;

    --card: 233.33, 13.04%, 13.53%;

    --card-foreground: 210 12% 58%;

    --popover: 233.33, 13.04%, 13.53%;

    --popover-foreground: 210 12% 58%;

    --primary: 184.12, 98.08%, 40.78%;

    --primary-foreground: 0, 0%, 100%;

    --secondary: 240 3.7% 15.9%;

    --secondary-foreground: 210 20% 70%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 210 20% 70%;

    --accent: 184, 98%, 41%, 0.1;

    --accent-foreground: 184.12, 98.08%, 40.78%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 184, 98%, 41%, 0.1;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
